<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="">
  <meta name="description" content="Стек технологий: ES2015+, TypeScript, React, Webpack, Node.js, HTML, CSS и др.">
  <link rel="stylesheet" href="/styles.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v2">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v2">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v2">
  <link rel="shortcut icon" href="/images/favicon.ico?v2">
  <title>Максим Павлов - frontend разработчик</title>
</head>
<body>
  <div class="js-page page page--loading">
    <svg class="page__preloader">
      <use xlink:href="#icon-preloader"></use>
    </svg>  
    <div class="page__content">
      <header class="page-header full-width">
        <div>
          <div class="page-header__main">
            <h1 class="page-header__name">Максим Павлов</h1>
            <nav class="page-header__menu">
              {{ partial "main-menu.html" . }}
            </nav>
          </div>
          {{ if .Site.Params.important }}
          <div class="important-info page-header__important">
            <svg class="important-info__icon">
              <use xlink:href="#icon-megaphone"></use>
            </svg>
            <span>{{ .Site.Params.important }}</span>
          </div>
          {{ end }}
        </div>
        {{ partial "theme-switcher.html" }}
      </header>
      <main>
      {{- block "main" . }}{{- end }}
      </main>
    </div>
    <footer class="footer print-hidden">
      <p class="footer__line">&copy;2014-{{ now.Year }}&nbsp;Максим Павлов</p>
      <p class="footer__line"><a class="link" href="https://github.com/ifelseapps/site" target="_blank" rel="noreferrer">Разработано</a> на чистом html, css и javascript.</p>
    </footer>
  </div>
  {{ partial "svg.html" }}
  <script src="/scripts.min.js"></script>
  {{ partial "metrika.html" }}
</body>
</html>
