html {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: calc(16px + 0.25vw);
  line-height: 1.5em;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--theme-background);
  color: var(--theme-text-color);
  overflow-x: hidden;
}

p {
  margin: 1em 0;
}

::selection {
  background-color: var(--theme-accent-color);
  color: var(--theme-background);
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.title {
  margin: 0;
  font-family: 'Fira Sans', Arial, sans-serif;
  line-height: 1em;
  letter-spacing: 0.025em;
  font-weight: 700;
}

.title--level-1 {
  font-size: calc(16px + 2vw);
}

.title--level-2 {
  font-size: calc(16px + 1vw);
}

.title--level-3 {
  font-size: calc(16px + 0.5vw);
}

.link {
  font-weight: 700;
  text-decoration: none;
  border-bottom: solid 0.1em;
  color: var(--theme-link-color);
}

.link:hover {
  border-color: transparent;
}

.link:focus {
  outline: none;
  color: var(--theme-focus-color);
}

.link--size-lg {
  font-size: 1.6rem;
}

.picture {
  max-width: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0.6em 3em;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 50px;
  border: solid 2px var(--theme-accent-color);
  background: var(--theme-accent-color);
  color: var(--theme-background);
}

.button:hover {
  background: transparent;
  color: var(--theme-accent-color);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--theme-focus-color);
}

.button__icon {
  width: 1em;
  height: 1em;
  margin-right: 10px;
  fill: currentColor;
}

.ref {
  color: var(--theme-accent-color);
}

.page {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: auto;
}

.page__section:not(:last-child) {
  margin-top: 4em;
  margin-bottom: 4em;
}

.page__section--full-width {
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 2em 5vw;
  background: var(--theme-substrate-background);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.page-header__name {
  margin: 0;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}



.footer {
  margin-top: auto;
  padding: 1em 0;
  font-size: 0.7rem;
  line-height: 1em;
  text-align: center;
}

.footer__line {
  margin: 0.5em 0;
}
