.techs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  line-height: 1em;
}

.techs__item {
  margin: 0 15px 15px 0;
  padding: 10px 20px;
  border: solid 2px transparent;
  border-radius: 20px;
  background: #fff;
  color: var(--theme-techs-text-color);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.07);
}
