:root {
  --theme-background: #fff;
  --theme-text-color: #424242;
  --theme-accent-color: #D81B60;
  --theme-link-color: var(--theme-accent-color);
  --theme-substrate-background: #fafafa;
  --theme-toggler-back: #BDBDBD;
}

.theme-dark {
  --theme-background: #212121;
  --theme-text-color: #F5F5F5;
  --theme-accent-color: #FFC107;
  --theme-substrate-background: var(--theme-background);
  --theme-toggler-back: #fff;
  --theme-techs-text-color: #424242;
}
