html {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: calc(15px + 0.20vw);
  line-height: 1.5em;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--theme-background);
  color: var(--theme-text-color);
  overflow-x: hidden;
}

p {
  margin: 1em 0;
}

::selection {
  background-color: var(--theme-accent-color);
  color: var(--theme-background);
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.title {
  margin: 0;
  font-family: 'Fira Sans', Arial, sans-serif;
  line-height: 1em;
  letter-spacing: 0.025em;
  font-weight: 700;
}

.title--level-1 {
  font-size: calc(15px + 2vw);
}

.title--level-2 {
  font-size: calc(15px + 1vw);
}

.title--level-3 {
  font-size: calc(15px + 0.5vw);
}

