@keyframes rotate {
  to {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.full-width {
  margin-left: -5vw;
  margin-right: -5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.page {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: auto;
}

.page::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: var(--theme-background);
  z-index: 1;
  transition: 0.2s opacity;
}

.page__preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) rotate(0deg);
  fill: var(--theme-accent-color);
  z-index: 2;
  animation-name: rotate;
  animation-duration:0.6s;
  animation-iteration-count: infinite;
  transition: 0.2s opacity;
}

.page--loading .page__preloader,
.page--loading::after {
  opacity: 1;
}

.page--visible::after,
.page--visible .page__preloader
 {
  display: none;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.80rem;
  line-height: 1em;
}

.main-menu__link {
  display: block;
  position: relative;
  padding: 0 0.5em;
  line-height: 1.6em;
  text-decoration: none;
  color: var(--theme-link-color);
  border-bottom: solid 1px #B3E5FC;
  transition: color 0.3s;
}

.main-menu__link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.main-menu__link--active {
  font-weight: 700;
}

.main-menu__link:hover,
.main-menu__link--active {
  color: #FF5722;
}

.main-menu__link:hover::after,
.main-menu__link--active::after {
  background-color: #FF5722;
}

.important-info {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  line-height: 1;
  color: #2E7D32;
}

.important-info__icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.7em;
  fill: currentColor;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: solid 3px #E3E9ED;
}

.page-header__name {
  margin: 0;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.page-header__menu {
  margin-top: 0.2em;
}

@media screen and (min-width: 1024px) {
  .page-header__main {
    display: flex;
    align-items: flex-end;
  }

  .page-header__menu {
    margin-top: 0;
    margin-left: 1.5em;
  }
}

.page-header__important {
  display: none;
  margin-top: 0.3em;
  margin-left: 1em;
}

@media screen and (min-width: 1024px) {
  .page-header__important {
    display: flex;
  }
}

.footer {
  margin-top: auto;
  padding: 1em 0;
  font-size: 0.7rem;
  line-height: 1em;
  text-align: center;
}

.footer__line {
  margin: 0.5em 0;
}
