.techs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1em;
}

.techs__item {
  margin: 0 10px 10px 0;
}

.techs__item:not(:last-child)::after {
  content: ',';
}
