:root {
  --theme-background: #fff;
  --theme-text-color: #424242;
  --theme-accent-color: #4c32ff;
  --theme-link-color: #0288D1;
  --theme-link-line-color: #81D4FA;
  --theme-substrate-background: #fafafa;
  --theme-toggler-color: #FAFAFA;
  --theme-toggler-back: #1f61c5;
  --theme-focus-color: #8C9EFF;
}

.theme-dark {
  --theme-background: #011f38;
  --theme-text-color: #F5F5F5;
  --theme-accent-color: #FFB300;
  --theme-substrate-background: var(--theme-background);
  --theme-toggler-back: #42A5F5;
  --theme-techs-text-color: #424242;
  --theme-focus-color: #FFE082;
}
